<!-- Loop over each object in the post array -->
{{#each posts}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <h1>{{this.title}}</h1>
      <p>{{this.description}}</p>
      <p>Posted By: {{this.user.name}}</p>
    </h2>
  </div>
</div>
{{/each}}
